<div class="block block--dark footer">
	<div class="container grid footer__sections">
		<section class="collapsible collapsible--expanded footer__section">
			<header class="collapsible__header">
				<h2 class="collapsible__heading">PRODUCTS</h2>
				<svg class="icon icon--primary icon--small collapsible__chevron">
					<use xlink:href="images/sprite.svg#chevron"></use>
				</svg>
			</header>
			<div class="collapsible__content">
				<ul class="footer__content">
					<li><a href="#">WordPress Hosting</a></li>
					<li><a href="#">Free Automated WordPress</a></li>
					<li><a href="#">Migrations</a></li>
					<li><a href="#">Domain Names</a></li>
					<li><a href="#">Monitoring web Hosting</a></li>
				</ul>
			</div>
		</section>
		<section class="collapsible footer__section">
			<header class="collapsible__header">
				<h2 class="collapsible__heading">COMPANY</h2>
				<svg class="icon icon--primary icon--small collapsible__chevron">
					<use xlink:href="images/sprite.svg#chevron"></use>
				</svg>
			</header>
			<div class="collapsible__content">
				<ul class="footer__content">
					<li><a href="#">About</a></li>
					<li><a href="#">Affiliates</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Community</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Green Hosting</a></li>
				</ul>
			</div>
		</section>
		<section class="collapsible footer__section">
			<header class="collapsible__header">
				<h2 class="collapsible__heading">SUPPORT</h2>
				<svg class="icon icon--primary icon--small collapsible__chevron">
					<use xlink:href="images/sprite.svg#chevron"></use>
				</svg>
			</header>
			<div class="collapsible__content">
				<ul class="footer__content">
					<li><a href="#">Contact</a></li>
					<li><a href="#">Knowledge Base</a></li>
					<li><a href="#">Fortune</a></li>
					<li><a href="#">System Status</a></li>
					<li><a href="#">Web Hosting</a></li>
					<li><a href="#">DreamCompute</a></li>
				</ul>
			</div>
		</section>
		<section class="collapsible footer__section">
			<header class="collapsible__header">
				<h2 class="collapsible__heading">DOMAINS</h2>
				<svg class="icon icon--primary icon--small collapsible__chevron">
					<use xlink:href="images/sprite.svg#chevron"></use>
				</svg>
			</header>
			<div class="collapsible__content">
				<ul class="footer__content list">
					<li><a href="#">Domain Checker</a></li>
					<li><a href="#">Domain Transfer</a></li>
					<li><a href="#">Free Domain</a></li>
					<li><a href="#">XYZ Domain</a></li>
					<li><a href="#">cheap SSL Certificate</a></li>
				</ul>
			</div>
		</section>
		<section class="footer__brand">
			<img src="images/logo.png" alt="">
			<p class="footer__copyright">Copyright2023 Bhargav</p>
		</section>
	</div>

</div>